In [13]:
import pandas as pd
import os

from model_trainning_functions import run_train_test_setup
from models import NNCombWrapper

N_JOBS = 2  # number of jobs to run in parallel
N_SPLITS = 10  # number of splits (k) to be made within the k fold cv
N_ITER = 10  # number of parameter settings that are sampled
SEED = 2294
VERBOSE = True
INPUTS_PATH = os.path.join(os.getcwd(), "data", "inputs")
OUTPUTS_PATH = os.path.join(os.getcwd(), "data", "outputs")
DATASET_NAMES = ["betadgp_covdgp_data", "betadgp_beta2x2_data", "betadgp_data"]
TARGET_NAME = "betas_dgp"
MODEL_TAGS = ["FFNN"]

In [14]:
outputs_path = OUTPUTS_PATH
dataset_names = DATASET_NAMES
model_tags = MODEL_TAGS

model = model_tags[0]
dir_name = os.listdir(os.path.join(outputs_path, model))[0]
d_name = dataset_names[0]

results = pd.read_csv(os.path.join(outputs_path, model, dir_name, d_name + "_result.csv"))

In [15]:
results

       Unnamed: 0  Var1  Var2  betas_dgp   cov_dgp  prediction
0               0     1     1   0.290807  1.000000    0.002667
1               1     1     2   0.000000 -0.024086    0.002667
2               2     1     3   0.000000  0.006598    0.002667
3               3     1     4   0.000000 -0.011437    0.002667
4               4     1     5   0.000000  0.035089    0.002667
...           ...   ...   ...        ...       ...         ...
22495       22495   150   146   0.000000 -0.056435    0.002667
22496       22496   150   147   0.000000  0.005643    0.002667
22497       22497   150   148   0.000000 -0.085309    0.002667
22498       22498   150   149   0.000000  0.092480    0.002667
22499       22499   150   150   0.000000  1.000000    0.002667

[22500 rows x 6 columns]

In [ ]:
for model in model_tags:
    for dir_name in os.listdir(outputs_path):
        for d_name in dataset_names: